In [ ]:
# Pandas library is used for data manipulation and data analysis

# Single-dimensional -> Series Object: series object is one-dimensional labeled array
# Multi-dimensional -> Data-frame

import pandas as pd

In [ ]:
# Single-dimensional -> Series Object: series object is one-dimensional labeled array
s1=pd.Series([1,2,3,4,5])
print(s1)
type(s1)

# changing Index
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s1)

In [ ]:
# Single-dimensional -> Series Object from dictionary (key -> index and values -> values)
s1=pd.Series({'a':10,'b':20,'c':30})
print(s1)
type(s1)

# changing index position
s2=pd.Series({'a':10,'b':20,'c':30},index=['a','c','e','b'])
print(s2)

In [ ]:
# Single-dimensional -> Series Object

# Extracting a single element
s1=pd.Series([1,2,3,4,5,6,7])
print(s1[2])

# Extracting elements from back
print(s1[-2:])

# Extracting a sequence of elements
print(s1[:3])

In [ ]:
# Multi-dimensional -> Data-frame
# Dataframe is a 2-dimensional labelled data-structure -> comprises of rows and columns

# Creating a Dataframe from dictionary
s1=pd.DataFrame({"Name":['Bob','Sam','Anne'],"Marks":[76,25,92]})
print(s1)

In [254]:
# Dataframe In-Build Functions
# head() -> first 5 rows
# tail() -> last 5 rows
# shape -> no. of rows and columns
# describe() -> general information

movies=pd.read_csv('movies.csv')
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [ ]:
movies.tail()

In [ ]:
movies.shape

In [ ]:
movies.describe()

In [255]:
# iloc[] -> use to extract rows and cloumns through index
movies.iloc[5:10,0:3] # 1st argument is rows (last index is not inclusive), 2nd argument is columns

                  Film      Genre       Lead Studio
5  Water For Elephants      Drama  20th Century Fox
6               WALL-E  Animation            Disney
7             Waitress    Romance       Independent
8  Waiting For Forever    Romance       Independent
9      Valentine's Day     Comedy      Warner Bros.

In [256]:
# loc[] -> use to extract rows and cloumns
movies.loc[0:3,("Film","Lead Studio")] # 1st argument is rows (last index is inclusive), 2nd argument is columns headings

                                 Film            Lead Studio
0          Zack and Miri Make a Porno  The Weinstein Company
1                     Youth in Revolt  The Weinstein Company
2  You Will Meet a Tall Dark Stranger            Independent
3                        When in Rome                 Disney

In [251]:
movies.min()

Film                 (500) Days of Summer
Genre                              Action
Lead Studio              20th Century Fox
Audience score %                       35
Profitability                         0.0
Rotten Tomatoes %                       3
Worldwide Gross                    $0.03
Year                                 2007
dtype: object

In [ ]:
movies.max()

In [ ]:
movies.mean()

In [ ]:
movies.median()

In [138]:
 # sort_values() -> sorting with respect to specific columns
 movies.sort_values(by='Genre')

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
55,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
...,...,...,...,...,...,...,...,...
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
57,Jane Eyre,Romance,Universal,77,0.000000,85,$30.15,2011
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007

In [147]:
# Assigment Module-1/Assignment-1/Sprint-2/Task-1

# a- Can you print the first 10 records
movies.iloc[0:11,]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007

In [234]:
# b- What are the data types of the columns
movies.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [238]:
# c- Count the Animation movies. (Hint: use the count() function)
movies[(movies['Genre'] == 'Animation')].count()

Film                 4
Genre                4
Lead Studio          4
Audience score %     4
Profitability        4
Rotten Tomatoes %    4
Worldwide Gross      4
Year                 4
dtype: int64

In [150]:
# d- Show the Comedy movies in the year 2007
movies[(movies['Year']==2007) & (movies['Genre'] == 'Comedy')]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007

In [146]:
# 1- Show the movies with more than 70% Audience Score & greater than $350 Worldwide Gross.
movies[(movies['Audience score %'] > 70) & (movies['Worldwide Gross'] > '$350')]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
39,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,$8.26,2011
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [153]:
# 2- Show the movies  produced by Disney with more than 70% Audience Score & greater than $350 Worldwide Gross
movies[(movies['Lead Studio'] == 'Disney') & (movies['Audience score %'] > 70) & (movies['Worldwide Gross'] > '$350')]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010

In [249]:
# 3- Count of Animation movies with more than 70% Audience Score (Hint use the count() function)
movies[(movies['Audience score %'] > 70) & (movies['Genre'] == 'Animation')].count()

Film                 2
Genre                2
Lead Studio          2
Audience score %     2
Profitability        2
Rotten Tomatoes %    2
Worldwide Gross      2
Year                 2
dtype: int64

In [250]:
# 4- Show the list of top 5 movies based on profitability
movies.sort_values(by='Profitability', ascending=False).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008

In [160]:
# 5- Show the top 5 Comedy movies approved by the audience (hint: Audience Score)
movies[(movies['Genre'] == 'Comedy')].sort_values('Audience score %', ascending = False).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008

In [247]:
# - Which Genre is favored the most by the Audience?
movies.sort_values(by=['Audience score %', 'Genre'], ascending = False).groupby(['Genre']).count()

,Film,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Genre,,,,,,,
Action,1,1,1,1,1,1,1
Animation,4,4,4,4,4,4,4
Comdy,1,1,1,1,1,1,1
Comedy,41,41,41,41,41,41,41
Drama,13,13,13,13,13,13,13
Fantasy,1,1,1,1,1,1,1
Romance,13,13,13,13,13,13,13
Romence,1,1,1,1,1,1,1
comedy,1,1,1,1,1,1,1
romance,1,1,1,1,1,1,1

In [176]:
# 7- Top 5 movie names by Rotten Tomato Score.
movies.sort_values('Rotten Tomatoes %', ascending = False).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010

In [190]:
# 8- Top 3 high gross Romance movies produced by Disney after 2008
movies[(movies['Genre'] == 'Romance') & (movies['Lead Studio'] == 'Disney') & (movies['Year'] > 2008)]

Empty DataFrame
Columns: [Film, Genre, Lead Studio, Audience score %, Profitability, Rotten Tomatoes %, Worldwide Gross, Year]
Index: []

In [194]:
# 9- How many Lead Studios are present in the dataframe ?
#(Hint: use the function value_counts() which applies to category)
movies.value_counts('Lead Studio', ascending = False)

Lead Studio
Independent              19
Warner Bros.             14
Disney                    8
Universal                 8
Fox                       6
Summit                    5
Paramount                 4
Sony                      4
The Weinstein Company     3
20th Century Fox          2
Lionsgate                 2
CBS                       1
New Line                  1
dtype: int64

In [195]:
# 10- Top 5 profitable movies produced by Disney after 2008 (measured by Profitability index)
movies[(movies['Lead Studio'] == 'Disney') & (movies['Year'] > 2008)].sort_values('Profitability', ascending = False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010

In [196]:
# 11- Most Frequent lead studio in the dataset in terms of occurances.
movies.value_counts('Lead Studio', ascending = False).head(1)

Lead Studio
Independent    19
dtype: int64

In [197]:
# 11- Least Frequent lead studio in the dataset in terms of occurances.
movies.value_counts('Lead Studio', ascending = False).tail(1)

Lead Studio
New Line    1
dtype: int64

In [222]:
# 12- Most and Least profitable Lead Studio. (Take an average of all Profitability measures grouped by Lead studios)
movies.groupby('Lead Studio')['Profitability'].mean().sort_values(ascending = False)

Lead Studio
Summit                   6.377962
Independent              6.235622
Disney                   6.228004
Sony                     4.836326
Fox                      4.511522
Universal                4.481278
Warner Bros.             3.193882
Paramount                2.594000
20th Century Fox         2.532311
CBS                      2.202571
New Line                 2.071000
Lionsgate                1.806509
The Weinstein Company    1.221114
Name: Profitability, dtype: float64

In [227]:
# 13- Top 5 lead studios with audience score greater than 70%.
movies[(movies['Audience score %'] > 70)].sort_values('Lead Studio', ascending = False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
57,Jane Eyre,Romance,Universal,77,0.000000,85,$30.15,2011
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
39,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,$8.26,2011
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
31,P.S. I Love You,Romance,Independent,82,5.103117,21,$153.09,2007
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011

In [230]:
# 14- (extra) Count of least Frequent Genre with Rotten Tomato score more than 50%
movies[(movies['Rotten Tomatoes %'] > 50)].sort_values('Genre', ascending = False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
40,Music and Lyrics,Romance,Warner Bros.,70,3.647411,63,$145.90,2007
57,Jane Eyre,Romance,Universal,77,0.000000,85,$30.15,2011
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
39,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,$8.26,2011
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
63,Going the Distance,Comedy,Warner Bros.,56,1.314062,53,$42.05,2010
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
59,I Love You Phillip Morris,Comedy,Independent,57,1.340000,71,$20.10,2010
58,It's Complicated,Comedy,Universal,63,2.642353,56,$224.60,2009
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
42,Miss Pettigrew Lives for a Day,Comedy,Independent,70,0.252895,78,$15.17,2008
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
37,Nick and Norah's Infinite Playlist,Comedy,Sony,67,3.352729,73,$33.53,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010

In [231]:
# 14- Count of least Frequent Genre with Rotten Tomato score more than 50%
movies[(movies['Rotten Tomatoes %'] > 50)].groupby(['Genre']).count()

,Film,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Genre,,,,,,,
Animation,4,4,4,4,4,4,4
Comedy,16,16,16,16,16,16,16
Drama,6,6,6,6,6,6,6
Fantasy,1,1,1,1,1,1,1
Romance,4,4,4,4,4,4,4
Romence,1,1,1,1,1,1,1
comedy,1,1,1,1,1,1,1
romance,1,1,1,1,1,1,1

In [207]:
# 15- Ranking of Fox studio for Comedy movies based on Audience Score.
movies[(movies['Lead Studio'] == 'Fox') & (movies['Genre'] == 'Comedy')].sort_values('Audience score %', ascending = False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
56,Just Wright,Comedy,Fox,58,1.797417,45,$21.57,2010
49,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010

In [232]:
# 16- Count of each genre of movies produced by Independent. (use groupby() )
movies[(movies['Lead Studio'] == 'Independent')].groupby(['Genre']).count()

,Film,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Genre,,,,,,,
Comedy,7,7,7,7,7,7,7
Drama,4,4,4,4,4,4,4
Romance,7,7,7,7,7,7,7
romance,1,1,1,1,1,1,1